DirectoryIndex index.php
RewriteEngine on
RewriteCond $1 !^(index\.php|clients|cache|assets|images|form|uploads|css|js|robots\.txt|favicon\.ico|license.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php/$1 [L,QSA]